<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Wikinimous</a>
    <a class="navbar-brand" href="#">New Article</a>
  </div>
</nav>
<h1>Update article</h1>
<%= render "form", article: @article %>
